body,
html {
	/* give this to all tags from html to .fullscreen */
	height: 100%;
	color: #ffffff;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.background() {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('../images/backgrounds/hello.jpg');
}

body {
	.background();
}

article {
	position: relative;
	height: 100vh;
}

main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	margin: 0 auto;

	text-transform: uppercase;
	max-width: 75vw;
	font-style: normal;
	
	div:first-of-type {
		font-size: 5vw;
		font-weight: 300;
	}
}

/* background setup */

footer {
	background-color: transparent;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 11px;

	padding: 1em;
	margin: 0 auto;
	text-align: left;
	color: #ffffff;
	text-transform: uppercase;

	div {
		font-size: 11px;
		font-weight: 700;
		display: block;
		margin-bottom: 5px;
	}

	img {
		width: 22px;
		height: 22px;
		margin-left: 3px;
	}
}

a {
	transition: all 0.1s ease-in-out;
	letter-spacing: 1px;
	color: #ffffff;
	opacity: 1;
}

a:hover {
	opacity: 0.6;
}
